<div class="success-footer">
  <div class="footer-heading">
    <img src="./images/Kaizen_Logo-V1.png" alt="Kaizen Logo">
    <div class="footer-social">
      <span class="footer-email">
        contact@kaizensocceracademy.com
      </span> 
      <a href="https://www.instagram.com/kaizensocceracademy/">
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
  </div>
  <hr>
  <div class="footer-card-list">
  <div class="footer-card">
    <div class="footer-title">
      <a href="/about">About</a>
      <a href="/kaizen">Kaizen Academy</a>
      <a href="/field">Field Sessions</a>
    </div> 
  </div>
  
  <div class="footer-card attribution">
    Created by <a href="https://www.loquenjones.com/">Loquen Jones</a>
  </div>
</div>
</body>
</html>