<%- include('./partials/header') %>

<main>
  <div class="single-page">
    <div class="title">
      Coach Aaron
    </div>
    <div class="single-page__heading-body">
      <div class="profile-pic">
        <img src="./images/AaronJones_Commercial.jpg" alt="Aaron Shooting">
      </div>
      <div class="single-page__content">
        <p>
          I have trained players and coached teams for the past 
          10 years in California, Finland, and Sweden. I have 
          coached youth players ages 6-18 for various clubs, 
          high school teams, and with individuals. I have worked 
          as an assistant coach at the collegiate level, and have 
          coached at Stahre International Academy in Stockholm, 
          Sweden.
        </p>
        <p>
          When working with individuals I specialize in technical 
          development, basing my methods on the teachings of Bruno 
          Redolfi of Federazione Italiana Giuoco Calcio. I have 
          extensive training for physical development, working at 
          the Sports Athletic Advancement for 4 years in Santa Cruz. 
          I have certification for athletic development from Solvalla 
          Idrottsinstitut in Helsinki, Finland, and work closely with 
          a strength and conditioning coach here in the Bay Area. 
          Finally, and most importantly, I worked with a sports 
          psychology coach during my own career and I have developed 
          specific strategies to develop a dominant mindset in soccer 
          players.
        </p>
      </div>
    </div>
  </div>
  <div class="subscribe">
    <div class="call title">
      Join our mailing list to get the latest news
    </div>
    <button class="view-button">
      Subscribe
    </button>
  </div>
</main> 

<%- include('./partials/footer') %>