<%- include('./partials/header') %>

<main>
  <div class="single-page kaizen-page">
    <div class="title">
      Field Sessions
    </div>
    <div class="promo-video">
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe> 
    </div>
    <div class="single-page__content kaizen-heading-body">
      <div class="kaizen-content">
        <p>
          Due to the current COVID-19 situation, there are no 
          onfield sessions until the health order changes.
        </p>
      </div>
      <form action="" class="field-form">
        <input type="text" placeholder="Name">
        <input type="email" placeholder="Email" >
        <textarea 
          rows="6" 
          cols="50"
        >Tell me about yourself...</textarea>
        <input class="view-button form-submit" type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="subscribe">
    <div class="call title">
      Join our mailing list to get the latest news
    </div>
    <button class="view-button">
      Subscribe
    </button>
  </div>
</main>   

<%- include('./partials/footer') %>