<%- include('./partials/header') %>

<main>
  <div class="single-page kaizen-page">
    <div class="title">
      Kaizen Academy
    </div>
    <div class="promo-video">
      <iframe width="420" height="315"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe> 
    </div>
    <div class="single-page__content kaizen-heading-body">
      <div class="kaizen-content">
        <p>
          I have trained players and coached teams for the past 
          10 years in California, Finland, and Sweden. I have 
          coached youth players ages 6-18 for various clubs, 
          high school teams, and with individuals. I have worked 
          as an assistant coach at the collegiate level, and have 
          coached at Stahre International Academy in Stockholm, 
          Sweden.
        </p>
        <p>
          When working with individuals I specialize in technical 
          development, basing my methods on the teachings of Bruno 
          Redolfi of Federazione Italiana Giuoco Calcio. I have 
          extensive training for physical development, working at 
          the Sports Athletic Advancement for 4 years in Santa Cruz. 
          I have certification for athletic development from Solvalla 
          Idrottsinstitut in Helsinki, Finland, and work closely with 
          a strength and conditioning coach here in the Bay Area. 
          Finally, and most importantly, I worked with a sports 
          psychology coach during my own career and I have developed 
          specific strategies to develop a dominant mindset in soccer 
          players.
        </p>
      </div>
      <form action="/api/kaizen" method="POST" class="kaizen-form">
        <input type="text" placeholder="Name" name="name">
        <input type="email" placeholder="Email" name="email">
        <textarea 
          rows="6" 
          cols="50"
          name="about"
        >Tell me about yourself...</textarea>
        <input class="view-button form-submit" type="submit" value="Submit">
      </form>
    </div>
  </div>
  <div class="subscribe">
    <div class="call title">
      Join our mailing list to get the latest news
    </div>
    <button class="view-button">
      Subscribe
    </button>
  </div>
</main>

<%- include('./partials/footer') %>