<%- include('./partials/header') %>

<main class="success-page">
  <div class="single-page">
    <div class="title">Success!</div>
    <div class="success-content">
      <h3>Thank you for reaching out! We will be in touch shortly.</h3>
    </div>
  </div>
  <div class="subscribe">
    <div class="call title">
      Join our mailing list to get the latest news
    </div>
    <button class="view-button">
      Subscribe
    </button>
  </div>
</main>

</body>
</html>

<%- include('./partials/success-footer') %>